[Desktop Entry]
Name=Parolottero
Comment=Word game
Comment[it]=Gioco di parole
Exec=/usr/games/parolottero
Icon=parolottero
Terminal=false
Type=Application
Categories=Game;
Keywords=Games
X-Purism-FormFactor=Workstation;Mobile;
