Source: parolottero
Section: games
Priority: optional
Maintainer: Salvo 'LtWorf' Tomaselli <tiposchi@tiscali.it>
Build-Depends:
 debhelper-compat (= 13),
 qt5-qmake,
 qtbase5-dev,
 qtdeclarative5-dev
Standards-Version: 4.6.0
Homepage: https://github.com/ltworf/parolottero
Vcs-Browser: https://github.com/ltworf/parolottero
Rules-Requires-Root: no

Package: parolottero
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Word game
