#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export QT_SELECT=5


%:
	dh $@ --sourcedir=src

override_dh_missing:
	# Workaround https://bugs.debian.org/964230
	dh_missing -O--sourcedir=.
